.container {
  height: 100vw;
  padding: 20px;
  background: #83a4d4; /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  color: #171212;
}
.labelInput {
  display: flex;
  width: 600px;
}

.labelInput label {
  flex: 1;
}

.labelInput input {
  flex: 5;
}

.buttonInput {
  margin-top: 20px;
}
